<form action="/show" method="post">
  <input type="text" name="name" value="Name">
  <input type="text" name="age" value="Age">
  <input type="text" name="breed" value="Breed">
  <input type="submit" name="submit" value="submit"></input>


</form>